<!--<h1>Редактировать маршрут</h1>-->

<%#= form_with(model: @route, local: true) do |form| %>

  <%#= render 'common/errors', resource: @route %>

<!--  <div class="field">-->
    <%#= form.label :number %>
    <%#= form.text_field :number %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :railway_station_ids, "Текущая станция" %>
    <%#= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true} %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= form.submit  if @route.new_record? ? 'Создать' : 'Изменить' %>
<!--  </div>-->
<%# end %>